.innerContainer {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin-bottom: 50px;
}


.quizSelect {
  display: flex;
  flex-direction: column;
  width: 415px;
  align-items: flex-end;
  cursor: pointer;
}
.quizImg {
  width: 415px;
}
.quizTitle {
  font-size: 36px;
  line-height: 44px;
  text-align: right;
  text-transform: uppercase;
  padding-right: 17px;
  color: #660033;
}
