.container {
  display: flex;
  flex-direction: column;
  width: 184px;
  background-color: #ffffff;
  cursor: pointer;
}
.innerContainer {
  display: flex;
  width: inherit;
  justify-content: space-between;
}

.number {
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
}

.result {
  font-size: 18px;
  line-height: 22px;
  padding-top: 16px;
  padding-right: 8px;
  color: var(--main-bg-color);
}
.image {
  height: 200px;
}

.image img {
  padding-top: 10px;
}

@media screen and (min-width: 360px) and (max-width: 767.98px) {
  .container {
    width: 115px;
  }
  .number {
    font-size: 36px;
    line-height: 44px;
  }
  .result {
    font-size: 14px;
    line-height: 17px;
    padding-top: 16px;
    padding-right: 8px;
  }
  .image {
    height: 137px;
  }
  .image img {
    width: 115px;
  }
}