.innerContainer {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.nav {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}
.title {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
}

.itemsContainer {
  display: flex;
  width: 1000px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 234px;
}

.pages {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--main-bg-color);
}

.btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.visible {
  opacity: 0.6;
}
