.header {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  position:relative;
}

.innerContainer {
  display: flex;
  flex-direction:column;
  width: 1000px;
}
.innerContainerArt {
  display: flex;
  flex-direction:column;
  width: 584px;
}

.quizText {
  width: 531px;
  margin-left: 70px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #660033;
}
.timerContainer {
  width: 155px;
  height: 60px;
}

.timerInnerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #660033;
}
.timer {
  font-size: 60px;
  color: var(--main-bg-color);
}
.results {
  display: flex;
  width: 330px;
  justify-content: space-between;
  margin: 20px auto;
}


@keyframes arise {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.image {
  object-fit: contain;
  height: 560px;
}
.artistQuizImage {
  height: 287px;
  object-fit: cover;
}

.animated {
  animation: arise 1s;
}

.answers {
  position: relative;
  width: 523px;
  height: 159px;
  margin: 15px auto;
  display: flex;
  gap: 1.4px;
  flex-wrap: wrap;
}

.answer {
  width: 260px;
  height: 79px;
  display: flex;
  background-color: #fff;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--main-bg-color);
}
.answer:hover {
  background-color:rgba(102, 0, 51, 0.5);
}
.answer:active {
  background-color:rgba(0, 102, 53, 0.5);
}

.vertical {
  position: absolute;
  top: 80px;
  left: 203px;
  width: 116px;
  border: 1px solid var(--main-bg-color);
  transform: rotate(90deg);
}

.horizontal {
  position: absolute;
  top: 79px;
  left: 19px;
  width: 484px;
  border: 1px solid var(--main-bg-color);
}

.img {
  width: 400px;
}

.correct {
  width: 30.1px;
  height: 30.1px;
  background: url('./../../../public/images/right-answer.png');
  background-position: center;
  background-repeat: no-repeat;
}

.wrong {
  width: 30.1px;
  height: 30.1px;
  background: url('./../../../public/images/wrong-answer.png');
  background-position: center;
  background-repeat: no-repeat;
}

.congrat {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.btnsContainer {
  display: flex;
}
.btnsContainer button:nth-child(2) {
  margin-left: 40px;
}

.result {
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
}

.resultImg {
  width: 207px;
  height: 172px;
  background: url('./../../../public/images/Group.png');
  background-position: center;
  background-repeat: no-repeat;
}

.styledBtn {
  background-color: 'var(--main-bg-color)';
  outline: none;
  border: 'none'; 
  width: '150px'; 
  height: '50px'; 
  font-size: '18px'; 
  line-height: '22px';
  text-transform: 'upperCase';
  display: 'flex';
  padding: '4px 6px';
  align-items: 'center';
  justify-content: 'space-between';
}

.imgContainer {
  display: flex;
  position: relative;
  flex-wrap:wrap;
  gap: 10px;
}
.imgContainer img {
  position: relative;
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fromRight {
  0% {
    opacity: 0;
    right: -100px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

.imgContainer div:nth-child(1), 
.imgContainer div:nth-child(3) {
  animation: fromLeft 1s;
}
.imgContainer div:nth-child(2), 
.imgContainer div:nth-child(4) {
  animation: fromRight 1s;
}

.finalPopup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url('./../../../public/images/grandResult.png');
}

.circles {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  top: 264px;
  left: 264px;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width:1023.98px) {
  .header {
    width: 648px;
  }
  .quizText {
    margin-left: 0;
  }
  .innerContainer {
    width: 768px;
  }
  .image {
    height: 600px;
  }
  .quizText {
    font-size: 25px;
    line-height: 30px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767.98px) {
  .header {
    width: 331px;
  }
  .quizText {
    position: absolute;
    margin-left: 0;
    width: 300px;
    font-size: 18px;
    line-height: 21px;
    top: 88px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .innerContainer {
    margin-top: 15px;
    width: 360px;
  }
  .innerContainerArt {
    width: 390px;
    margin-top: 58px;
  }
  .artistQuizImage {
    height: 180px;
  }
  .circles {
    top: 158px;
    left: 158px;
  }
  .answers {
    width: 360px;
    height: 120px;
    margin: -2px auto;
  }
  .answer {
    width: 179px;
    height: 59px;
    font-size: 20px;
    line-height: 19px;
  }
  .vertical {
    top: 60px;
    left: 136px;
    width: 87px;
  }
  .horizontal {
    top: 59px;
    left: 21px;
    width: 318px;
  }
  .imgContainer {
    width: 370px;
    margin: auto;
  }
  .image {
    height: 318px;
  }
  .img {
    width: 297px;
  }
  .congrat {
    font-size: 24px;
    line-height: 14px;
  }
  .result {
    font-size: 77px;
    line-height: 74px;
  }
  .results {
    margin: 8px auto;
  }
  .btnsContainer {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .btnsContainer button:nth-child(2) {
    margin-left: 0;
  }
}