@import '~antd/dist/antd.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
    margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('../public/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  --main-bg-color: #660033;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #c4c4c4;
}